body {
    font-family: "NanumSquareRound";
    line-height: 1.6;
    margin: 0;
    /* background-color: #f0b45f; */
    background-color: #c0d0e8;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */

    padding-top: 100px;
}

header {
    /* background-color: #f6eee2; */
    background-color: #fffbfb;
    height: 74px;
    line-height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    margin-right: 20vw;
    font-size: 30px;
    background-image: linear-gradient(to right, #618ad4, #d86f58);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
}

#header-title:hover {
    color: #d6644a;
    cursor: pointer;
}

.topnav {
    height: 74px;
    line-height: 74px;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: #333;
    text-align: center;
    text-decoration: none;
    margin-inline: 1vw;
}

.topnav a:hover {
    color: #d6644a;
}

.headerline {
    height: 26px;
    background-color: #333;
    text-align: center;
    font-size: small;
    color: #fff;
    line-height: 26px;
    overflow: hidden;
    position: fixed;
    top: 74px;
    width: 100%;
    z-index: 1000;
}

footer {
    height: 74px;
    background-color: #333;
    color: #fff;
    text-align: right;
    line-height: 74px;
    padding-right: 1vw;
}

footer img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    /* height: 2vw; */
    height: 23px;
    margin-left: 1vw;
    padding: 1vw;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}

.content {
    width: 70%;
    margin: 0 auto;
    padding: 2vw;
    margin-left: 23%; /* 왼쪽 공간을 늘리기 위해 추가 */
}

.timetable,
.courses,
.interests,
.info {
    border: 4px solid #333;
    flex-grow: 1;
    margin: 0 2vw;
    /* background-color: #f6eee2; */
    background-color: #fffbfb;

    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.timetable h2,
.courses h2,
.interests h2,
.info h2 {
    text-align: center;
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vw;
}

.timetable th,
.timetable td {
    border: 1px solid #ccc;
    padding: 0.8vw;
}

.timetable th {
    color: #fff;
    background-color: #8690c4;
}

.courses ol ul,
.interests ol ul,
.info ol ul {
    padding: 0;
    margin: 0 auto;
}

.courses ul li,
.interests ol li,
.info ul li {
    margin-bottom: 1vw;
}

.info p {
    padding-left: vw;
}

img {
    max-width: 50%;
    height: auto;
}

.foods {
    border: 4px solid #333;
    width: 15%;
    padding: 2vw;
    background-color: #fffbfb;
    margin: 1vw;
    border-radius: 2vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);

    position: fixed;
    transition: all 0.3s ease;
}

.foods h2 {
    margin-top: 0;
}

.foods ul {
    list-style-type: none;
    padding: 0;
}

.foods ul li {
    margin-bottom: 1vw;
}

.foods ul li a {
    text-decoration: none;
    color: #333;
}

.foods ul li a:hover {
    color: #d6644a;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .topnav {
        order: 1;
        width: 100%;
    }

    header h1 {
        order: 2;
        margin: 0;
    }

    .timetable,
    .courses,
    .interests,
    .info {
        width: calc(100% - 10vw);
        margin: 2vw;
    }

    .parent {
        display: flex;
        justify-content: center;
    }

    .foods {
        width: 90%;
        text-align: center;
        position: static; /* 고정 해제 */
        margin: 2vw 0;
    }

    .foods ul {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
    }

    .foods ul li {
        flex: 1 0 auto;
        margin: 1vw;
    }

    .foods h2 {
        margin: 0;
    }

    .content {
        width: 90%;
        margin-left: 0; /* 왼쪽 공간 초기화 */
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        height: auto;
        line-height: 45px;
    }

    .topnav a {
        display: inline-block;
        color: #333;
        text-align: center;
        text-decoration: none;
        line-height: normal;
        height: auto;
        padding: 0 3vw;
    }

    header {
        height: auto;
        margin: 0;
    }

    header h1 {
        width: 100%;
        display: block;
        margin-top: 2vw;
    }
    .headerline {
        top: 97.8px;
    }
    body {
        padding-top: 123.8px;
    }
}
